/* .Home{
    display: flex;
    align-items: start;
} */
.homeCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.301);
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 1rem;
}
.crear {
  color: whitesmoke;
}
.titulo {
  -webkit-text-stroke: 1px #2a75bb;
  color: #c7a008;
  font-family: cursive;
  font-size: 45px;
}
.boton1 {
  background-color: #c7a008;
  border: none;
  color: black;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
}
.filtersAndOrders select{
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid black;
  min-width: 70px;
  text-align-last:center;
  min-height: 25px;
  padding-top: 5px;
  cursor: pointer;
}