/* .Home{
    display: flex;
    align-items: start;
} */
.homeCards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.301);
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 1rem;
    
    
}
.crear{
    color: whitesmoke;
}
.titulo{
    -webkit-text-stroke: 1px #2a75bb;
    color: #c7a008;
    font-family: cursive;
    font-size: 45px;
}
.boton1 {
    background-color: #c7a008;
    border: none;
    color: black;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
}
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    margin: 0.5rem;
    border-radius: 4px;
}
.content-select select::-ms-expand {
    display: none;
}
.content-select select{
	cursor: pointer;
    padding: 4px 4px;
  	outline: 0; 
  	border: 0;
	background: #c7a008;
	color: #000000;
	font-size: 18px;
	color: rgb(0, 0, 0);
    margin-right:5px;
}