.danger input {
  border: 1px solid #B22222;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: 0 auto;
  color: seashell;
  font-size: 15px;
}
.error {
  color: #B22222;
  font-size: 11px;
  margin-left: 25px;

}
.formTitle span{
margin-bottom: -40px;
}
.formTitle{
  display: flex;
  flex-direction: row;
}

.selectCreate select {
  margin: 1rem 0.5rem;
}
.container{
  display: flex;
  justify-content: center;
}
.formContainer{
  background-color: #49896F;
  /* width: 50%; */
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  min-width: 40%;
}
.dropbox{
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  width: 150px;
  height: 150px;
  margin-top:30px ;
}
.inputs{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
.contentSelect select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0.5rem;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}
.contentSelect select::-ms-expand {
  display: none;
}
.contentSelect select:focus, .contentSelect select:hover{
  border-color: 1px white;
  background-color: white;
  color: black;
}
.contentSelect select {
  cursor: pointer;
  padding: 4px 4px;
  outline: 0;
  color: #f5f5f5;
  margin: 15px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
  font-size: 13px;
  border-color: 1px white;
}
.divForm label{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.formTitle{
  display: flex;
  align-items: flex-end;
  
}